@page "{ingredientId}"
@model MessHall.Pages.Ingredients.DeleteModel
@{
    ViewData["Title"] = "Delete";
    // The Delete page prompts the user to confirm that they wish to delete an Ingredient
}



<h2>Delete</h2>
<div class="alert alert-danger">
    Are you sure you want to delete @Model.Ingredient.Name?
</div>


<!-- Form to confirm deletion-->
<form method="post">
    <button type="submit" class="btn btn-danger">Yes!</button>
    <a asp-page="List" class="btn btn-default">Cancel</a>
</form>
