@using MessHall.Models
@model Ingredient
<!-- This view displays an Ingredient in Detail.cshtml -->
<!-- List will iterate through the database using this view to generate the UI for the related ingredients-->

<div class="card m-3">
    <div class="card-header">@Model.Name</div>
    <div class="card-body">
        <h5 class="card-title">@Model.Description</h5>
        <p class="card-text">Calories: @Model.CaloriesPerUnit</p>
    </div>
</div>