@page "{recipeId:int}"
@model MessHall.Pages.Recipes.DetailModel
@{
    ViewData["Title"] = "Detail";
    // The Detail page is reached when a user wishes to see the details of a given Recipe
}

<!-- Displays Recipe information to the user-->
<h2>@Model.Recipe.Name</h2>


<h3>@Model.Recipe.Description</h3>

<p>@Model.Recipe.Notes</p>


<!-- Allows user to return to the Recipes List-->
<a asp-page="./List" class="btn btn-primary">All Recipes</a>