@page "{recipeId:int?}"
@model MessHall.Pages.Recipes.EditModel
@{
    ViewData["Title"] = "Edit";
    // The Edit page is used to modify an existing Recipe in the database
    // This page is also used to create a new Recipe
}

<h2>Editing @Model.Recipe.Name</h2>


<!-- Post method used to save a new or extant Recipe-->
<!-- Also verifies that valid data is entered-->
<form method="post">

    <input type="hidden" asp-for="Recipe.RecipeId" />
    <div class="form-group">
        <label asp-for="Recipe.Name"></label>
        <input asp-for="Recipe.Name" class="form-control" />
        <span class="text-danger" asp-validation-for="Recipe.Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="Recipe.Description"></label>
        <input asp-for="Recipe.Description" class="form-control" />
        <span class="text-danger" asp-validation-for="Recipe.Description"></span>
    </div>
    <div class="form-group">
        <label asp-for="Recipe.Notes"></label>
        <input asp-for="Recipe.Notes" class="form-control" />
        <span class="text-danger" asp-validation-for="Recipe.Notes"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>

<!-- Script used for data validation -->

@section scripts {
    <partial name="_ValidationScriptsPartial" />
}

